
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";
@import 'styles';
@import "~gemini-datepicker/src/sass/datepicker-date";
@import "~gemini-datepicker/src/sass/datepicker-range";
@import "~gemini-datepicker/src/sass/datepicker-table";
@import "~gemini-datepicker/src/sass/timepicker";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
